<%= simple_form_for @genre do |form| %>
    <div class="field">
      <%= form.input :nom %>
    </div>
    <div class="field">
      <%= form.input :description%>
    </div>

  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>

<% end %>
<%= link_to genres_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-upload"></i> Retour à la liste des genres
<% end %>
