<h1>Liste des genres</h1>
<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.nom %></td>
        <td><%= genre.description%></td>

        <td>
          <%= link_to 'Afficher', genre,
          class: 'btn btn-primary btn-xs' %>
          <%= link_to 'Modifier', edit_genre_path(genre),
          class: 'btn btn-info btn-xs' %>
          <%= link_to 'Supprimer', genre, method: :delete, data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
<%= link_to new_genre_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Ajouter un genre
<% end %>
