<%= simple_form_for @studio do |form| %>
    <div class="field">
      <%= form.input :nom %>
    </div>
    <div class="field">
      <%= form.input :dateDeCreation, as: :date%>
    </div>

    <div class="field">
      <%= form.association :anime, label_method: :nom %>
    </div>

  <div class="actions">
    <%= form.submit 'Enregistrer' %>
  </div>

<% end %>
<%= link_to studios_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-upload"></i> Retour à la liste des Studios
<% end %>
