<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @episode.nom %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @episode.resume %>
</p>

<p>
  <strong>Sortie:</strong>
  <%= @episode.sortie %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
