<div class="form-style-2">
  <%= simple_form_for @personnage do |f| %>
  <% if personnage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personnage.errors.count, "error") %> prohibited this personnage from being saved:</h2>

      <ul>
      <% personnage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :nom %>
  </div>

  <div class="field">
    <%= f.input :description %>
  </div>

  <div class="field">
    <%= f.association :anime, label_method: :nom %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
