<div class="form-style-2">
<%= form_with(model: personnage, local: true) do |form| %>
  <% if personnage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personnage.errors.count, "error") %> prohibited this personnage from being saved:</h2>

      <ul>
      <% personnage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom, id: :personnage_nom %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :personnage_description %>
  </div>

  <div class="field">
    <%= form.label :anime_id %>
    <%= form.text_field :anime_id, id: :personnage_anime_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
