<h1>Liste des Tags</h1>
<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.nom %></td>
        <td><%= tag.description%></td>
        <td>
          <%= link_to 'Afficher', tag,
          class: 'btn btn-primary btn-xs' %>
          <%= link_to 'Modifier', edit_tag_path(tag),
          class: 'btn btn-info btn-xs' %>
          <%= link_to 'Supprimer', tag, method: :delete, data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
<%= link_to new_tag_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Ajouter un tag
<% end %>
