<h1>Affichage d'un studio</h1>

<p>
  <strong>Nom:</strong>
  <%= @studio.nom %>
</p>

<p>
  <strong>Date de création:</strong>
  <%= @studio.dateDeCreation %>
</p>

<p>
  <strong>Liste d'anime:</strong>
  <%=  %>
</p>

<%= link_to 'Edit', edit_studo_path(@studio) %> |
<%= link_to 'Back', studio_path %>
