<p id="notice"><%= notice %></p>

<h1>Animes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Resume</th>
      <th>Apparition</th>
      <th>Statut</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animes.each do |anime| %>
      <tr>
        <td><%= anime.id %></td>
        <td><%= anime.nom %></td>
        <td><%= anime.resume %></td>
        <td><%= anime.apparition %></td>
        <td><%= anime.statut %></td>
        <td><%= anime.note %></td>
        <td><%= link_to 'Afficher', anime,
        class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Modifier', edit_anime_path(anime),
        class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Supprimer', anime,
        method: :delete, data: { confirm: 'Are you sure?' },
        class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvel anime', new_anime_path,
class: 'btn btn-success' %>
